* {
    margin: 0px;
    padding: 0px;
}

.App::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 500px) {
    .options {
        width: fit-content;
        margin: 0px;
        padding: 0px;
    }
}
.options {
    margin: 0px;
    padding: 0px;
}